@model MathexGaming.Models.Gamer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gamer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a  asp-action="BaseSite">Back to List</a>
</div>
