@model IEnumerable<MathexGaming.Models.Diablo3.DiabloAchievement>

@{
    ViewData["Title"] = "D3AchievementHome";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompletedColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonRoll)
            </th>
            <th></th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<label style="width:40%;background-color:@item.CompletedColor;color:transparent;">
						@Html.DisplayFor(modelItem => item.CompletedColor)
					</label>					
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AchievementName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Group)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubGroup)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SeasonRoll)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
